#container-header{
   font-family: "Pixelify Sans", Arial, Helvetica, sans-serif;
   display: flex;
   color: rgb(145, 12, 185);
   justify-content: space-between;
   padding: 40px;
}
#list-ul{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}
.btn{
    color: rgb(145, 12, 185);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid rgb(145, 12, 185);
    border-radius: 5px;
}
.btn:hover {
    cursor: pointer;
    background-color: rgb(145, 12, 185);
    color: white;
}